<%= form_for [@trip, @location] do |f| %>
  <fieldset>
    <legend><%= @trip.name %></legend>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :activities %>:
    <%= f.text_area :activities %>
    <br><br>
    <%= f.label :length %>:
    <%= f.text_field :length %>
    <br><br>
    <%= f.submit 'Add Stop' %>
  </fieldset>
<% end %>
<br>
<hr>
<h5><%= link_to "Cancel", trip_locations_path(@trip) %></h5>
